[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
numpy = "*"
scikit-learn = "*"
torch = "==1.9.0"
transformers = "==4.8.2"
accelerate = "*"
deepspeed = "*"
wandb = "*"
mlxtend = "*"

[requires]
python_version = "3.6"
